@import 'src/assets/styles/mixin.scss';

.container {
  margin-right: 4px;
  line-height: 0;

  :global {
    .ant-select {
      @include style(12px, #EAEAEA);
      @include wh(auto, 24px);
      min-width: 118px;
      background: #FFFFFF33;
      line-height: 24px;
      border-radius: 12px;
    }

    .ant-select-item {
      @include style(12px, #EAEAEA);
      padding: 6px 6px 6px 26px;
      min-height: unset;
      margin: 4px 0;
      line-height: 12px;
      border-radius: 12px;
    }

    .ant-select-dropdown {
      @include style(12px, #EAEAEA);
      min-width: 118px !important;
      background-color: #06171E7F;
      padding: 6px;
      border-radius: 4px;
    }

    .ant-select-item-option-content {
      font-size: 12px;
      line-height: 14px;
    }

    .ant-select-item-option-active:not(.ant-select-item-option-disabled) {
      background-color: #FFFFFF33;
    }

    .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
      @include ps(relative);
      @include style(12px, #EAEAEA);
      background-color: #FFFFFF33;
      font-weight: unset;

      &::before {
        @include ps(absolute, 6px, 0, 0, 10px);
        @include wh(6px, 10px);
        display: table;
        border: 2px solid #FFFFFFE5;
        border-top: 0;
        border-left: 0;
        transform: rotate(45deg) scale(1);
        content: " ";
      }
    }

    .ant-select:not(.ant-select-customize-input) .ant-select-selector {
      background: transparent;
      border: 0;
      padding: 0 6px 0 24px;
      cursor: pointer !important;
    }

    .ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector {
      border: none;
      outline: 0;
      box-shadow: unset;
    }

    .ant-select-single.ant-select-sm:not(.ant-select-customize-input) .ant-select-selector {
      padding: 0 7px 0 30px;
    }

    .ant-select-single.ant-select-sm:not(.ant-select-customize-input).ant-select-show-arrow .ant-select-selection-item,
    .ant-select-single.ant-select-sm:not(.ant-select-customize-input).ant-select-show-arrow .ant-select-selection-placeholder {
      @include fr(flex-start);
    }

    .ant-select-multiple .ant-select-selector {
      height: 24px;
      line-height: 24px;
      padding: 0;
      cursor: pointer !important;
    }

    .ant-select-multiple .ant-select-selection-item {
      background: transparent;
      border: 0;
      margin: 0;
      padding-left: 8px;
    }

    .ant-select-multiple.ant-select-sm .ant-select-selection-item {
      height: 24px;
      line-height: 24px;
      cursor: pointer !important;
    }

    .ant-select-arrow {
      left: 7px;
      right: unset;
    }

    .ant-select-arrow,
    .ant-select-single.ant-select-open .ant-select-selection-item,
    .ant-select-selection-item {
      @include style(12px, #EAEAEA);
      line-height: 12px;
    }

    .ant-select-selection-search,
    .ant-select-multiple .ant-select-selection-item-remove,
    .ant-select-item-option-selected:not(.ant-select-item-option-disabled) .ant-select-item-option-state,
    .ant-select-multiple.ant-select-sm .ant-select-selection-overflow-item + .ant-select-selection-overflow-item .ant-select-selection-search {
      display: none;
    }
  }
}
