@import "src/assets/styles/mixin.scss";

.rnd_container {
  margin: 0;
  user-select: none;
  cursor: default !important;
  z-index: 10;

  .player_container {
    @include fc(flex-start);
    @include wh(100%, 100%);
    border: 1px solid #1E6079;
  }
}
