@import 'src/assets/styles/mixin.scss';

.container {
  @include fr(flex-start, center);
  line-height: 16px;
  padding-left: 8px;

  .status {
    @include wh(9px, 9px);
    border-radius: 50%;
    background: #808080;
    margin-right: 8px;
    cursor: default;
  }

  .name {
    @include style(16px, #EAEAEA, 400);
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: default;
  }

  .online {
    background: #1FE28A;
  }
}
