@import "src/assets/styles/mixin.scss";

.container {
  @include fr(space-between, center, nowrap);
  @include wh(100%, 36px);
  background: #071E27BF;
  cursor: move;

  svg,
  use {
    cursor: pointer;
  }

  .toolbar {
    @include fr(flex-end, center);
    flex-wrap: nowrap;
    height: 100%;
    padding: 0 4px;

    svg {
      margin: 0 4px;
    }
  }
}
