@import "src/assets/styles/mixin.scss";

.container {
  @include wh(100%, 100%);
  @include ps(absolute, auto, auto, 0, 50%);
  transform: translateX(-50%);
  z-index: 1;
}

.mask {
  background: #0000007F;
}
