@import "src/assets/styles/mixin.scss";

.container {
  @include fc(center);
  @include style(12px, #EFF2F6);
  z-index: 1;

  p {
    padding-top: 6px;
  }

  svg {
    animation: loading 1.5s linear infinite;
  }

  @keyframes loading {
    from {
      transform: rotateZ(0);
    }
    to {
      transform: rotateZ(360deg);
    }
  }
}
